@import "_deps.css";

:root {
  --color1: #ff00fa;
  --color2: #0ff;
  --color3: #240066;
  --color-vanilla: #fffcee;
  --color-black: #191919;
  --i: 0.05;
  --noCalc: calc(var(--i) * 2);
  --fogColor: hsl(calc(243 + var(--i) * 255), 100%, 68%);
  --sickGradient: radial-gradient(farthest-corner circle at 50% 115% in oklch,
      oklch(80% .3 34) 0%, oklch(90% .3 200) 100%);
  --coolGradient: linear-gradient(115deg,
      var(--color1) 11% 11%,
      var(--color2) 101% 101%,
      var(--color3) 100%);
  --gradColor1: hsl(50, 100%, 68%);
  --gradColor2: hsl(200, 100%, 68%);
  /* --rainbow: linear-gradient(to right in hsl longer hue, red 0% 100%); */
  --startColor: hsl(0, 100%, 66%);
  --rainbow: linear-gradient(to right in hsl longer hue, var(--startColor) 0% 100%);
  --gradient: linear-gradient(125deg, var(--gradColor1) 0%, var(--gradColor2) 100%);
  --yellow: #ffc600;
}

mark {
  background: var(--yellow);
}

body {
  color: var(--color-black);
  background-image: var(--image);
  background-color: var(--color-vanilla);
  background-position: center;
  background-repeat: no-repeat;
  font-family: "Ika VAR";
}

body.firefox {
  background-image: none;
}

@font-face {
  src: url("./fonts/Ika_Compact_VAR.woff2") format("woff2-variations");
  font-family: "Ika Compact VAR";
  font-style: normal;
}

@font-face {
  src: url("./fonts/Ika_VAR.woff2") format("woff2-variations");
  font-family: "Ika VAR";
  font-style: normal;
}

@font-face {
  src: url("./fonts/Ika_VAR_Italic.woff2") format("woff2-variations");
  font-family: "Ika VAR";
  font-style: italic;
}

.slides {
  & > article {
    background: #fffceef0;
    border: 0;
    /* border-radius: 50px; */
    border: 5px solid var(--color-black);
  }
}

#trunk {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 1;
  display: none;
}

/* Text */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 900;
  letter-spacing: -0.02em;
  line-height: 1;
  font-stretch: condensed;
  color: var(--color-black);
  -webkit-background-clip: text;
  color: transparent;
  position: relative;
  z-index: 2;
  background-image: var(--image);
  background-color: var(--color-black);
  /* background-blend-mode: difference; */
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

p, li {
  font-family: "Ika VAR";
  font-weight: 700;
  letter-spacing: -0.05em;
  font-size: 50px;
}

p {
  margin: 20px 0;
}

h1 {
  font-size: 250px;
}
h2 {
  font-size: 200px;
}
h3 {
  font-size: 150px;
}

img.fit {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

